hardware/node-red/mqtt-to-state.flow.json
[
  {
    "id": "nanoportal_tab",
    "type": "tab",
    "label": "Nanoportal MQTT → state.php",
    "disabled": false,
    "info": "MQTT üzenetek → JSON patch → POST /api/state.php. Állítsd a broker és a STATE_URL env változót."
  },
  {
    "id": "nanoportal_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto (localhost)",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nanoportal-nodered",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_nanoportal",
    "type": "mqtt in",
    "z": "nanoportal_tab",
    "name": "nanoportal/esp32/#",
    "topic": "nanoportal/esp32/#",
    "qos": "0",
    "datatype": "json",
    "broker": "nanoportal_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 180,
    "wires": [["fn_build_patch"]]
  },
  {
    "id": "mqtt_in_mobilmozi",
    "type": "mqtt in",
    "z": "nanoportal_tab",
    "name": "mobilmozi/#",
    "topic": "mobilmozi/#",
    "qos": "0",
    "datatype": "json",
    "broker": "nanoportal_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 240,
    "wires": [["fn_build_patch"]]
  },
  {
    "id": "mqtt_in_session_control",
    "type": "mqtt in",
    "z": "nanoportal_tab",
    "name": "session/control",
    "topic": "session/control",
    "qos": "0",
    "datatype": "utf8",
    "broker": "nanoportal_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 300,
    "wires": [["fn_session_control"]]
  },
  {
    "id": "mqtt_in_group_contact",
    "type": "mqtt in",
    "z": "nanoportal_tab",
    "name": "session/group_contact",
    "topic": "session/group_contact",
    "qos": "0",
    "datatype": "json",
    "broker": "nanoportal_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 360,
    "wires": [["fn_group_contact"]]
  },
  {
    "id": "fn_group_contact",
    "type": "function",
    "z": "nanoportal_tab",
    "name": "group_contact → patch",
    "func": "const baseUrl = env.get('STATE_URL') || 'http://127.0.0.1/api/state.php';\nconst raw = msg.payload;\nif (!raw || typeof raw !== 'object' || Array.isArray(raw)) return null;\nconst emails = Array.isArray(raw.emails) ? raw.emails : [];\nconst phones = Array.isArray(raw.phones) ? raw.phones : [];\nconst email = emails.map(e => String(e || '').trim()).find(Boolean) || '';\nconst phone = phones.map(p => String(p || '').trim()).find(Boolean) || '';\nmsg.payload = { group_contact: { email, phone } };\nmsg.method = 'POST';\nmsg.url = baseUrl;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 360,
    "wires": [["http_post_state"]]
  },
  {
    "id": "fn_session_control",
    "type": "function",
    "z": "nanoportal_tab",
    "name": "session/control → patch",
    "func": "const baseUrl = env.get('STATE_URL') || 'http://127.0.0.1/api/state.php';\nconst cmd = String(msg.payload || '').trim().toLowerCase();\nlet patch = {};\nif (cmd === 'start') {\n  patch = { status: 'RUNNING' };\n} else if (cmd === 'pause') {\n  patch = { status: 'PAUSED' };\n} else if (cmd === 'stop') {\n  patch = {\n    status: 'IDLE',\n    quiz_state: {\n      selected_answer: null,\n      validation: 'idle',\n      feedback_visible: false,\n    },\n  };\n} else if (cmd === 'complete') {\n  patch = { status: 'COMPLETED' };\n} else if (cmd === 'reset') {\n  patch = {\n    status: 'IDLE',\n    current_step: 1,\n    quiz_state: {\n      selected_answer: null,\n      validation: 'idle',\n      feedback_visible: false,\n    },\n  };\n} else {\n  return null;\n}\nmsg.payload = patch;\nmsg.method = 'POST';\nmsg.url = baseUrl;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 300,
    "wires": [["http_post_state"]]
  },
  {
    "id": "inject_test_patch",
    "type": "inject",
    "z": "nanoportal_tab",
    "name": "Teszt: motion patch",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"device\":\"inject-test\",\"type\":\"motion\"}",
    "payloadType": "json",
    "x": 160,
    "y": 80,
    "wires": [["fn_build_patch"]]
  },
  {
    "id": "fn_build_patch",
    "type": "function",
    "z": "nanoportal_tab",
    "name": "Build patch + HTTP opts",
    "func": "const baseUrl = env.get('STATE_URL') || 'http://127.0.0.1/api/state.php';\nconst raw = msg.payload;\nlet patch = {};\n\nif (raw && typeof raw === 'object' && !Array.isArray(raw)) {\n  if (raw.hardware) {\n    patch = { hardware: raw.hardware };\n  } else if (raw.display || raw.status || raw.quiz_state || raw.audio || raw.screens || raw.visitors || raw.group_contact) {\n    patch = raw;\n  } else {\n    patch = {\n      hardware: {\n        last_sensor_event: {\n          device: String(raw.device || 'esp32'),\n          type: String(raw.type || 'event'),\n          at: raw.at || new Date().toISOString()\n        }\n      }\n    };\n  }\n} else {\n  patch = {\n    hardware: {\n      last_sensor_event: {\n        device: 'mqtt',\n        type: String(raw),\n        at: new Date().toISOString()\n      }\n    }\n  };\n}\n\nmsg.payload = patch;\nmsg.method = 'POST';\nmsg.url = baseUrl;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 140,
    "wires": [["http_post_state"]]
  },
  {
    "id": "http_post_state",
    "type": "http request",
    "z": "nanoportal_tab",
    "name": "POST state.php",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 640,
    "y": 140,
    "wires": [["debug_state_response"]]
  },
  {
    "id": "debug_state_response",
    "type": "debug",
    "z": "nanoportal_tab",
    "name": "state.php válasz",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.status",
    "statusType": "auto",
    "x": 860,
    "y": 140,
    "wires": []
  }
]
